<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="imagens/logo-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/styleCadastrarNutri.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Cadastro nutricionista - NutriWeb</title>
</head>
    <body>
        <% 
        let erroValidacao = {"nome" : "", "telefone":"", "email" : "", "senha" : "", "area":"", "crn":""};
        let msgErro = {"nome" : "", "telefone":"", "email" : "", "senha" : "", "area":"", "crn":""};
        if(listaErros) {
            listaErros.errors.forEach( function(erro) {
                if (erro.path == "nome") {
                    erroValidacao.nome = "erro-form",
                    msgErro.nome = erro.msg
                }
                if (erro.path == "telefone") {
                    erroValidacao.telefone = "erro-form",
                    msgErro.telefone = erro.msg
                }
                if (erro.path == "email") {
                    erroValidacao.email = "erro-form",
                    msgErro.email = erro.msg
                }
                if (erro.path == "senha") {
                    erroValidacao.senha = "erro-form",
                    msgErro.senha = erro.msg
                }
                if (erro.path == "area") {
                    erroValidacao.area = "erro-form",
                    msgErro.area = erro.msg
                }
                if (erro.path == "nome") {
                    erroValidacao.crn = "erro-form",
                    msgErro.crn = erro.msg
                }
            });
        } 
        %>

        <header class="header">
            
            <section class="left-section">
                <a href="/"><img src="imagens/logo.png" alt="Logo" class="logo"></a>
        
                <a href="/ranking" class="ranking"><button class="ranking-button">Ranking</button></a>

                <a href="/profissionais"><button class="profissionais-button">Profissionais</button></a>
            </section>

            <section class="center-section">
                <section class="input-premium">
                    <span class="material-icons search-icon md-24">search</span>
                    <input>
                </section>
            </section>
            
            <section class="right-section">
                <a href="/perfilcliente"><button class="meuperfil-button">Meu Perfil</button></a>
                <a href="/premium"><button class="premium-button">Premium</button></a>
                <a href="/login"><button class="entrar-button">Entrar</button></a>
            </section>
            
        </header>

        <section class="header-content">
            <a href="/cadastro" class="back-button">
                <span class="material-icons arrow-icon md-24">arrow_back_ios</span>
                <span class="back-arrow">Voltar</span>
            </a>
        </section>

        <section class="container">
            <section class="card">
                <section class="conteudo-form">
                    <span class="notification"><%= msgErro.nome %></span>
                    <span class="notification2"><%= msgErro.telefone %></span>
                    <span class="notification3"><%= msgErro.email %></span>
                    <span class="notification4"><%= msgErro.senha %></span>
                    <span class="notification5"><%= msgErro.area %></span>
                    <span class="notification6"><%= msgErro.crn %></span>
                    <form action="/cadastrarnutri" method="post" class="cadastro-form">
                        <h2><strong class="strong-cad">Cadastre-se,</strong><br> e comece sua jornada!</h2>
                        <section class="campo-form">
                            <input type="text" id="nome" name="nome" value="<%= valores.nome %>" class="<%= erroValidacao.nome %>" placeholder="Nome Completo">
                        </section>
                        <section class="campo-form">
                            <input type="text" id="email" name="email" value="<%= valores.email %>" class="<%= erroValidacao.email %>" placeholder="E-mail">
                        </section>
                        <section class="campo-form">
                            <input type="password" id="senha" name="senha" value="<%= valores.senha %>" class="<%= erroValidacao.senha %>"placeholder="Crie uma senha">
                            <section id="password-requirements">
                                <span>A senha deve conter:</span>
                                <ul>
                                    <li id="length" class="invalid">Pelo menos 8 caracteres</li>
                                    <li id="uppercase" class="invalid">Pelo menos uma letra maiúscula</li>
                                    <li id="lowercase" class="invalid">Pelo menos uma letra minúscula</li>
                                    <li id="number" class="invalid">Pelo menos um número</li>
                                    <li id="special" class="invalid">Pelo menos um caractere especial</li>
                                </ul>
                            </section>
                        </section>
                        
                        <section class="campo-form">
                            <label for="telefone">Telefone:</label>
                            <div class="campo-telefone-container">
                                <div class="campo-ddd">
                                    <label for="ddd">DDD:</label>
                                    <input type="number" id="ddd" name="ddd" maxlength="2">
                                </div>
                                <div class="campo-telefone">
                                    <input type="number" id="telefone-numero" name="telefone" value="<%= valores.telefone %>" class="<%= erroValidacao.telefone %>">
                                </div>
                            </div>
                        </section>
                        
                        
                        <section class="campo-form" id="campo-form-checkbox">
                            <h1>Especialidade</h1>
                            <label for="area">Em qual área da nutrição você se sente mais familiarizado:</label>
                            
                            <section class="checkbox-group-container">
                                <section class="checkbox-group">
                                    <input type="checkbox" name="area" id="esportiva">
                                    <label for="esportiva">Nutrição Esportiva</label>
                                </section>
                                
                                <section class="checkbox-group">
                                    <input type="checkbox" name="area" id="estetica">
                                    <label for="estetica">Nutrição Estética</label>
                                </section>
                                
                                <section class="checkbox-group">
                                    <input type="checkbox" name="area" id="clinica">
                                    <label for="clinica">Nutrição Clínica</label>
                                </section>
                                
                                <section class="checkbox-group">
                                    <input type="checkbox" name="area" id="vegetariana">
                                    <label for="vegetariana">Nutrição Vegetariana</label>
                                </section>
                                
                                <section class="checkbox-group">
                                    <input type="checkbox" name="area" id="maternoinfantil">
                                    <label for="maternoinfantil">Nutrição Materno-Infantil</label>
                                </section>
                                
                                <section class="checkbox-group">
                                    <input type="checkbox" name="area" id="geriatrica">
                                    <label for="geriatrica">Nutrição Geriátrica</label>
                                </section>
                                
                                <section class="checkbox-group">
                                    <input type="checkbox" name="area" id="preventiva">
                                    <label for="preventiva">Nutrição Preventiva</label>
                                </section>
                                
                                <section class="checkbox-group">
                                    <input type="checkbox" name="area" id="balanceada">
                                    <label for="balanceada">Nutrição Balanceada</label>
                                </section>
                                
                                <section class="checkbox-group">
                                    <input type="checkbox" name="area" id="funcional">
                                    <label for="funcional">Nutrição Funcional</label>
                                </section>
                            </section>
                        </section>
                        
                        <section class="campo-form">
                            <input type="text" id="crn" name="crn" value="<%= valores.crn %>" class="<%= erroValidacao.crn %>" placeholder="Número de CRN">
                        </section>

                        <button class="btn-cadastrar">
                            Continuar <i class="fas fa-arrow-right seta"></i>
                        </button>
                    </form>
                </section>
            </section>

        </section>

        <section class="mobile">

            <section class="menu">
                <section class="left-section">
                    <a href="/"><img src="imagens/logo.png" alt="Logo" class="logo"></a>
                </section>

                <section class="right-section">
                    <span class="material-icons search-icon md-24 menu-icon">menu</span>
                </section>
            </section>

            <section class="mobile-menu hidden">
                <ul>
                    <li><a href="/perfilcliente">Meu Perfil</a></li>
                    <li><a href="/ranking">Ranking</a></li>
                    <li><a href="/profissionais">Profissionais</a></li>
                    <li><a href="/premium">Premium</a></li>
                    <li><a href="/login">Entrar</a></li>
                </ul>
            </section>

        </section>

        <footer>
            <section class="footer-container">

                <section class="footer-logo">
                    <a href="/"><img src="imagens/logo.png" alt="Logo" class="logo"></a>
                    <a href="/"><h3>NutriWeb</h3></a>
                </section>

                <section class="footer-informacao">
                    <a href="/">Página Inicial</a>
                    <a href="/ranking">Ranking</a>
                    <a href="/profissionais">Profissionais</a>
                    <a href="/premium">Premium</a>
                    <a href="/login">Login</a>
                    <a href="/">Sobre nós</a> 
                    <a href="/tipoNutri">Como escolher o profissional ideal?</a>
                </section>
          
              <section class="footer-social">
                  <p>Conecte-se com os melhores nutricionistas e encontre o profissional ideal para você.</p>
                <h3>Siga-nos</h3>
                    <section class="social-icons">
                    <a href="https://www.instagram.com/nutriweb_oficial/"><i class="fab fa-instagram"></i></a>
                    </section>
              </section>
            </section>
            
            <section class="footer-bottom">
              <p>&copy; 2024 NutriWeb. Todos os direitos reservados.</p>
            </section>
        </footer>
        
    </body>
    <script src="js/indexMenu.js"></script>
    <script src="js/validacaotemporeal.js"></script>
</html>
