<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="imagens/logo-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/styleHeader.css">
    <link rel="stylesheet" href="css/styleHome.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Home - NutriWeb</title>
</head>
    <body>
        
        <%- include('../partials/header.ejs') %>

        <section class="img-header">
        
            <section class="carousel">
                <section class="carousel-item active">
                    <img src="imagens/banner1.png" alt="Imagem 1">
                </section>
                <section class="carousel-item">
                    <img src="imagens/banner2.png" alt="Imagem 2">
                </section>
                <section class="carousel-item">
                    <img src="imagens/banner3.png" alt="Imagem 3">
                    <button id="btn-sabeMais" onclick="irPagina()" class="hidden">Saber agora!</button>
                </section>
                <section class="carousel-item">
                    <img src="imagens/banner4.png" alt="Imagem 4">
                </section>
                <section class="carousel-item parceria-agrobox">
                    <img src="imagens/banner-agrobox-desktop.png" onclick="irAgroBox()" alt="Imagem 5">
                </section>


                <img src="imagens/setaesquerda.svg" class="carousel-control-prev">
                <img src="imagens/setadireita.svg" class="carousel-control-next">
            </section>

            <section class="carousel-indicators">
                <section class="indicator active"></section>
                <section class="indicator"></section>
                <section class="indicator"></section>
                <section class="indicator"></section>
                <section class="indicator"></section>
            </section>
            
        </section>

        <section class="nutricionista-wrapper">
            <section class="nutricionista-header">
                <section class="left-space"></section>
                <h1>Nutricionistas qualificados</h1>
                <form class="listafiltrar hidden" action="">
                    <section class="conteudofiltrar">
                        <input type="checkbox" name="esportiva" id="esportiva">
                        <label for="esportiva">Nutrição Esportiva</label>
                    </section>
                    <section class="conteudofiltrar">
                        <input type="checkbox" name="estetica" id="estetica">
                        <label for="estetica">Nutrição Estética</label>
                    </section>
                    <section class="conteudofiltrar">
                        <input type="checkbox" name="clinica" id="clinica">
                        <label for="clinica">Nutrição Clínica</label>
                    </section>
                    <section class="conteudofiltrar">
                        <input type="checkbox" name="vegetariana" id="vegetariana">
                        <label for="vegetariana">Nutrição Vegetariana</label>
                    </section>
                    <section class="conteudofiltrar">
                        <input type="checkbox" name="maternoinfantil" id="maternoinfantil">
                        <label for="maternoinfantil">Nutrição Materno-Infantil</label>
                    </section>
                    <section class="conteudofiltrar">
                        <input type="checkbox" name="geriatrica" id="geriatrica">
                        <label for="geriatrica">Nutrição Geriátrica</label>
                    </section>
                    <section class="conteudofiltrar">
                        <input type="checkbox" name="preventiva" id="preventiva">
                        <label for="preventiva">Nutrição Preventiva</label>
                    </section>
                    <section class="conteudofiltrar">
                        <input type="checkbox" name="balanceada" id="balanceada">
                        <label for="balanceada">Nutrição Balanceada</label>
                    </section>
                    <section class="conteudofiltrar">
                        <input type="checkbox" name="funcional" id="funcional">
                        <label for="funcional">Nutrição Funcional</label>
                    </section>
                </form>
                <button class="filter-button" id="filter-desktop">
                    Filtrar
                    <section class="material-icons md-24" id="filter-icon">tune</section>
                </button>
            </section>
            <h2>Para te ajudar no seu propósito</h2>
        </section>

        

        

        <section class="desktop-cards-container">
            <section class="desktop-cards-wrapper">
                <section class="arrow-container">
                    <button class="carousel-prev">&lt;</button>
                </section>

                <section class="scroll-wrapper">
                    <section class="cards-container-profissional desktop-profissional" id="cards-desktop">
                        <a href="/perfilnutri?id=1">
                            <section class="card-nutri">
                                    <img src="/imagem/perfil/1" alt="Profissional 1" class="card-image">
                                    <section class="card-info">
                                        <h3 class="card-name">Julia Barros</h3>
                                        <p class="card-specialty">Nutrição Esportiva</p>
                                        <section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section>
                                    </section>
                            </section>
                        </a>
            
                        <a href="/perfilnutri?id=2">
                            <section class="card-nutri">
                                    <img src="/imagem/perfil/2" alt="Profissional 2" class="card-image">
                                    <section class="card-info">
                                        <h3 class="card-name">Roberta Santos</h3>
                                        <p class="card-specialty">Nutrição Clínica</p>
                                        <section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section>
                                    </section>
                            </section>
                        </a>
            
                        <a href="/perfilnutri?id=3">
                            <section class="card-nutri">
                                    <img src="/imagem/perfil/3" alt="Profissional 3" class="card-image">
                                    <section class="card-info">
                                        <h3 class="card-name">Flávia Flins</h3>
                                        <p class="card-specialty">Nutrição Estética</p>
                                        <section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section>
                                    </section>
                            </section>
                        </a>
            
                        <a href="/perfilnutri?id=4">
                            <section class="card-nutri">
                                    <img src="/imagem/perfil/4" alt="Profissional 4" class="card-image">
                                    <section class="card-info">
                                        <h3 class="card-name">Pablo Parron</h3>
                                        <p class="card-specialty">Nutrição Clínica</p>
                                        <section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section>
                                    </section>
                            </section>
                        </a>
            
                        <a href="/perfilnutri?id=5">
                            <section class="card-nutri">
                                    <img src="/imagem/perfil/5" alt="Profissional 5" class="card-image">
                                    <section class="card-info">
                                        <h3 class="card-name">Sophia Silva</h3>
                                        <p class="card-specialty">Nutrição Estética</p>
                                        <section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section>
                                    </section>
                            </section>
                        </a>
            
                        <a href="/perfilnutri?id=6">
                            <section class="card-nutri">
                                    <img src="/imagem/perfil/6" alt="Profissional 6" class="card-image">
                                    <section class="card-info">
                                        <h3 class="card-name">Camila Ocanã</h3>
                                        <p class="card-specialty">Nutrição Estética</p>
                                        <section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section>
                                    </section>
                            </section>
                        </a>
            
                        <a href="/perfilnutri?id=7">
                            <section class="card-nutri">
                                    <img src="/imagem/perfil/7" alt="Profissional 7" class="card-image">
                                    <section class="card-info">
                                        <h3 class="card-name">Agatha Matos</h3>
                                        <p class="card-specialty">Nutrição Estética</p>
                                        <section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section>
                                    </section>
                            </section>
                        </a>
            
                        <a href="/perfilnutri?id=8">
                            <section class="card-nutri">
                                    <img src="/imagem/perfil/8" alt="Profissional 8" class="card-image">
                                    <section class="card-info">
                                        <h3 class="card-name">Roberto Carlos</h3>
                                        <p class="card-specialty">Nutrição Esportiva</p>
                                        <section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section>
                                    </section>
                            </section>
                        </a>
            
                        <a href="/perfilnutri?id=9">
                            <section class="card-nutri">
                                    <img src="/imagem/perfil/9" alt="Profissional 9" class="card-image">
                                    <section class="card-info">
                                        <h3 class="card-name">Mariana Alves</h3>
                                        <p class="card-specialty">Nutrição Esportiva</p>
                                        <section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section>
                                    </section>
                            </section>
                        </a>
            
                        <a href="/perfilnutri?id=10">
                            <section class="card-nutri">
                                    <img src="/imagem/perfil/10" alt="Profissional 10" class="card-image">
                                    <section class="card-info">
                                        <h3 class="card-name">Lucas Mendes</h3>
                                        <p class="card-specialty">Nutrição Clínica</p>
                                        <section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section>
                                    </section>
                            </section>
                        </a>
            
                        <a href="/perfilnutri?id=11">
                            <section class="card-nutri">
                                    <img src="/imagem/perfil/11" alt="Profissional 1" class="card-image">
                                    <section class="card-info">
                                        <h3 class="card-name">Carla Souza</h3>
                                        <p class="card-specialty">Nutrição Clínica</p>
                                        <section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section>
                                    </section>
                            </section>
                        </a>
            
                        <a href="/perfilnutri?id=12">
                            <section class="card-nutri">
                                    <img src="/imagem/perfil/12" alt="Profissional 12" class="card-image">
                                    <section class="card-info">
                                        <h3 class="card-name">Renata Dias</h3>
                                        <p class="card-specialty">Nutrição Esportiva</p>
                                        <section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section>
                                    </section>
                            </section>
                        </a>

                        <a href="/perfilnutri?id=13">
                            <section class="card-nutri">
                                    <img src="/imagem/perfil/13" alt="Profissional 13" class="card-image">
                                    <section class="card-info">
                                        <h3 class="card-name">Bruno Teixeira</h3>
                                        <p class="card-specialty">Nutrição Vegetariana</p>
                                        <section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section>
                                    </section>
                            </section>
                        </a>

                        <a href="/perfilnutri?id=14">
                            <section class="card-nutri">
                                    <img src="/imagem/perfil/14" alt="Profissional 14" class="card-image">
                                    <section class="card-info">
                                        <h3 class="card-name">Larissa Lobato</h3>
                                        <p class="card-specialty">Nutrição Vegetariana</p>
                                        <section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section>
                                    </section>
                            </section>
                        </a>

                        <a href="/perfilnutri?id=15">
                            <section class="card-nutri">
                                    <img src="/imagem/perfil/15" alt="Profissional 15" class="card-image">
                                    <section class="card-info">
                                        <h3 class="card-name">Daniela Castro</h3>
                                        <p class="card-specialty">Nutrição Vegetariana</p>
                                        <section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section>
                                    </section>
                            </section>
                        </a>

                        <a href="/perfilnutri?id=16">
                            <section class="card-nutri">
                                    <img src="/imagem/perfil/16" alt="Profissional 16" class="card-image">
                                    <section class="card-info">
                                        <h3 class="card-name">Henrique Lopes</h3>
                                        <p class="card-specialty">Nutrição Vegetariana</p>
                                        <section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section>
                                    </section>
                            </section>
                        </a>

                        <a href="/perfilnutri?id=17">
                            <section class="card-nutri">
                                    <img src="/imagem/perfil/17" alt="Profissional 17" class="card-image">
                                    <section class="card-info">
                                        <h3 class="card-name">Mirella Cunha</h3>
                                        <p class="card-specialty">Nutrição Materno-Infantil</p>
                                        <section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section>
                                    </section>
                            </section>
                        </a>

                        <a href="/perfilnutri?id=18">
                            <section class="card-nutri">
                                    <img src="/imagem/perfil/18" alt="Profissional 18" class="card-image">
                                    <section class="card-info">
                                        <h3 class="card-name">Gustavo Ribeiro</h3>
                                        <p class="card-specialty">Nutrição Materno-Infantil</p>
                                        <section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section>
                                    </section>
                            </section>
                        </a>

                        <a href="/perfilnutri?id=19">
                            <section class="card-nutri">
                                    <img src="/imagem/perfil/19" alt="Profissional 19" class="card-image">
                                    <section class="card-info">
                                        <h3 class="card-name">Tatiane Moura</h3>
                                        <p class="card-specialty">Nutrição Materno-Infantil</p>
                                        <section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section>
                                    </section>
                            </section>
                        </a>

                        <a href="/perfilnutri?id=20">
                            <section class="card-nutri">
                                    <img src="/imagem/perfil/20" alt="Profissional 20" class="card-image">
                                    <section class="card-info">
                                        <h3 class="card-name">Eduardo Lima</h3>
                                        <p class="card-specialty">Nutrição Materno-Infantil</p>
                                        <section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section>
                                    </section>
                            </section>
                        </a>

                        <a href="/perfilnutri?id=21">
                            <section class="card-nutri">
                                    <img src="/imagem/perfil/21" alt="Profissional 21" class="card-image">
                                    <section class="card-info">
                                        <h3 class="card-name">Amanda Torres</h3>
                                        <p class="card-specialty">Nutrição Geriátrica</p>
                                        <section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section>
                                    </section>
                            </section>
                        </a>

                        <a href="/perfilnutri?id=22">
                            <section class="card-nutri">
                                    <img src="/imagem/perfil/22" alt="Profissional 22" class="card-image">
                                    <section class="card-info">
                                        <h3 class="card-name">Fernando Lins</h3>
                                        <p class="card-specialty">Nutrição Geriátrica</p>
                                        <section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section>
                                    </section>
                            </section>
                        </a>

                        <a href="/perfilnutri?id=23">
                            <section class="card-nutri">
                                    <img src="/imagem/perfil/23" alt="Profissional 23" class="card-image">
                                    <section class="card-info">
                                        <h3 class="card-name">Isabela Martins</h3>
                                        <p class="card-specialty">Nutrição Geriátrica</p>
                                        <section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section>
                                    </section>
                            </section>
                        </a>

                        <a href="/perfilnutri?id=24">
                            <section class="card-nutri">
                                    <img src="/imagem/perfil/24" alt="Profissional 24" class="card-image">
                                    <section class="card-info">
                                        <h3 class="card-name">Marina Lima</h3>
                                        <p class="card-specialty">Nutrição Geriátrica</p>
                                        <section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section>
                                    </section>
                            </section>
                        </a>

                        <a href="/perfilnutri?id=25">
                            <section class="card-nutri">
                                    <img src="/imagem/perfil/25" alt="Profissional 25" class="card-image">
                                    <section class="card-info">
                                        <h3 class="card-name">Laura Figueira</h3>
                                        <p class="card-specialty">Nutrição Preventiva</p>
                                        <section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section>
                                    </section>
                            </section>
                        </a>

                        <a href="/perfilnutri?id=26">
                            <section class="card-nutri">
                                    <img src="/imagem/perfil/26" alt="Profissional 26" class="card-image">
                                    <section class="card-info">
                                        <h3 class="card-name">Rafael Reis</h3>
                                        <p class="card-specialty">Nutrição Preventiva</p>
                                        <section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section>
                                    </section>
                            </section>
                        </a>

                        <a href="/perfilnutri?id=27">
                            <section class="card-nutri">
                                    <img src="/imagem/perfil/27" alt="Profissional 27" class="card-image">
                                    <section class="card-info">
                                        <h3 class="card-name">Camila Duarte</h3>
                                        <p class="card-specialty">Nutrição Preventiva</p>
                                        <section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section>
                                    </section>
                            </section>
                        </a>

                        <a href="/perfilnutri?id=28">
                            <section class="card-nutri">
                                    <img src="/imagem/perfil/28" alt="Profissional 28" class="card-image">
                                    <section class="card-info">
                                        <h3 class="card-name">Bruno Salles</h3>
                                        <p class="card-specialty">Nutrição Preventiva</p>
                                        <section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section>
                                    </section>
                            </section>
                        </a>

                        <a href="/perfilnutri?id=29">
                            <section class="card-nutri">
                                    <img src="/imagem/perfil/29" alt="Profissional 29" class="card-image">
                                    <section class="card-info">
                                        <h3 class="card-name">Mariana Prado</h3>
                                        <p class="card-specialty">Nutrição Balanceada</p>
                                        <section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section>
                                    </section>
                            </section>
                        </a>

                        <a href="/perfilnutri?id=30">
                            <section class="card-nutri">
                                    <img src="/imagem/perfil/30" alt="Profissional 30" class="card-image">
                                    <section class="card-info">
                                        <h3 class="card-name">Jorge Cardoso</h3>
                                        <p class="card-specialty">Nutrição Balanceada</p>
                                        <section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section>
                                    </section>
                            </section>
                        </a>

                        <a href="/perfilnutri?id=31">
                            <section class="card-nutri">
                                    <img src="/imagem/perfil/31" alt="Profissional 31" class="card-image">
                                    <section class="card-info">
                                        <h3 class="card-name">Juliana Nunes</h3>
                                        <p class="card-specialty">Nutrição Balanceada</p>
                                        <section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section>
                                    </section>
                            </section>
                        </a>

                        <a href="/perfilnutri?id=32">
                            <section class="card-nutri">
                                    <img src="/imagem/perfil/32" alt="Profissional 32" class="card-image">
                                    <section class="card-info">
                                        <h3 class="card-name">Andre Vale</h3>
                                        <p class="card-specialty">Nutrição Balanceada</p>
                                        <section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section>
                                    </section>
                            </section>
                        </a>

                        <a href="/perfilnutri?id=33">
                            <section class="card-nutri">
                                    <img src="/imagem/perfil/33" alt="Profissional 33" class="card-image">
                                    <section class="card-info">
                                        <h3 class="card-name">Bianca Moura</h3>
                                        <p class="card-specialty">Nutrição Funcional</p>
                                        <section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section>
                                    </section>
                            </section>
                        </a>

                        <a href="/perfilnutri?id=34">
                            <section class="card-nutri">
                                    <img src="/imagem/perfil/34" alt="Profissional 34" class="card-image">
                                    <section class="card-info">
                                        <h3 class="card-name">Daniel Peixoto</h3>
                                        <p class="card-specialty">Nutrição Funcional</p>
                                        <section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section>
                                    </section>
                            </section>
                        </a>

                        <a href="/perfilnutri?id=35">
                            <section class="card-nutri">
                                    <img src="/imagem/perfil/35" alt="Profissional 35" class="card-image">
                                    <section class="card-info">
                                        <h3 class="card-name">Vanessa Luz</h3>
                                        <p class="card-specialty">Nutrição Funcional</p>
                                        <section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section>
                                    </section>
                            </section>
                        </a>

                        <a href="/perfilnutri?id=36">
                            <section class="card-nutri">
                                    <img src="/imagem/perfil/36" alt="Profissional 36" class="card-image">
                                    <section class="card-info">
                                        <h3 class="card-name">Gabriel Lemos</h3>
                                        <p class="card-specialty">Nutrição Funcional</p>
                                        <section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section>
                                    </section>
                            </section>
                        </a>
                    </section>
                </section>
                
                <section class="arrow-container">
                    <button class="carousel-next">&gt;</button>
                </section>
            </section>
        </section>

        <section class="titulos-publicacao">
            <h1>Veja as publicações</h1>
            <h2>Fique ligado nas dicas e receitas dos nutricionistas</h2>
        </section>

        <section class="cards-container">
            <section class="cards-wrapper">
                <% if (publicacoes && publicacoes.length > 0) { %>
                    <% publicacoes.forEach(function(card) { %>
                        <section class="card"
                            data-id="<%= card.id %>"
                            data-nome="<%= card.nome %>"
                            data-profissao="Nutrição <%= card.profissao %>"
                            data-imgperfil="<%= card.imgPerfil %>"
                            data-imgconteudo="<%= card.imgConteudo %>"
                            data-legenda="<%= card.legenda.replace(/"/g, '&quot;') %>">
                            
                            <a href="/perfilnutri?id=<%= card.nutricionistaId %>" class="card-perfil">
                                <section class="card-header">
                                    <img src="<%= card.imgPerfil %>" 
                                         alt="<%= card.nome %>" 
                                         onerror="this.src='imagens/foto_perfil.jpg'">
                                    <section>
                                        <section class="name"><%= card.nome %></section>
                                        <section class="profession">Nutrição <%= card.profissao %></section>
                                    </section>
                                </section>
                            </a>
                            
                            <img src="<%= card.imgConteudo %>" 
                                 alt="Publicação" 
                                 class="content-img" 
                                 onerror="this.src='imagens/placeholder-post.jpg'">
                            
                            <section class="card-content">
                                <p class="caption"><%= card.legenda %></p>
                            </section>
                        </section>
                    <% }); %>
                <% } else { %>
                    <section style="grid-column: 1 / -1; text-align: center; padding: 40px; color: #666;">
                        <p>Nenhuma publicação disponível no momento.</p>
                    </section>
                <% } %>

            </section>

            <section class="banner-card-meio banner-card-meio-quiz">
                <img src="imagens/banner3.png" onclick="irPagina()" alt="BannerPatrocinio"/>
            </section>

            <button class="btn-verMais">
                Ver mais
                <svg class="seta-svg" width="25" height="25" viewBox="0 0 24 24" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M7 10l5 5 5-5" stroke="green" stroke-width="3.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>

        </section>

        <section id="modal" class="modal">
            <section class="modal-content">
                <section class="modal-image">
                    <img src="imagens/img-login.jpg" alt="Content Image" id="modal-img">
                </section>
                <section class="modal-card">
                    <section class="modal-card-top">
                        <section class="container-card-header">
                            <a href="/perfilnutri?id=1" class="card-perfil card-perfil-modal">
                                <section class="card-header card-header-modal">
                                    <img src="imagens/profissional1.png" alt="Profile" id="modal-profile">
                                    <section>
                                        <section class="name" id="modal-name">Julia</section>
                                        <section class="profession">Nutricionista</section>
                                    </section>
                                </section>
                            </a>
                            <section class="controle-modal">
                                <section id="menu-denunciar" class="menu-denunciar">
                                    <section class="menu-pontos" id="menu-pontos">⋮</section>
                                    <section class="denunciar-opcao" id="denunciar-opcao">Denunciar</section>
                                </section>
                                <section class="close-modal md-24" id="close-modal">&times;</section>
                            </section>
                        </section>
                        
                        <section class="modal-image-mobile">
                            <img src="imagens/img-login.jpg" alt="Content Image" id="modal-img">
                        </section>
                        
                        <section class="modal-description">
                            <p>Além de ser considerado um alimento com efeito calmante natural, o mamão fornece vitaminas A, C, cálcio, ferro, potássio, licopeno e fibras. Ele possui betacaroteno e substâncias antioxidantes que protegem a pele contra o envelhecimento precoce.</p>
                        </section>
                    </section>
                    
                    <section class="modal-card-bottom">
                        <section class="modal-card-bottom-top">
                            <section class="btn-favorite-comment">
                                <section class="material-icons btn-favorite md-48">favorite</section>
                                <section class="material-icons btn-comment md-48">chat</section>
                            </section>
                            <section class="comentarios-lista" id="comentarios-lista">
                                <p class="sem-comentarios" id="sem-comentarios">Seja o primeiro a comentar!</p>
                            </section>
                        </section>
                        <section class="container-comentarios">
                            <section class="material-icons">account_circle</section>
                            <input type="text" id="input-comentario" placeholder="Adicione um comentário...">
                            <button class="btn-enviar" id="btn-enviar">
                                <section class="material-icons">send</section>
                            </button>
                        </section>          
                    </section>        
                </section>
            </section>
        </section>

        <section id="modal-denuncia" class="modal" style="display: none;">
            <section class="modal-content-denuncia">
                <section class="close-denuncia" id="close-denuncia">&times;</section>
                <h2>Denuncia</h2>
                <p>O que esse comentário infringiu?</p>

                <button class="btn-denuncia">Discurso de ódio ou preconceito</button>
                <button class="btn-denuncia">Assédio ou bullying</button>
                <button class="btn-denuncia">Linguagem ofensiva ou agressiva</button>
                <button class="btn-denuncia">Spam ou conteúdo irrelevante</button>

                <textarea placeholder="Outro motivo? Descreva aqui (opcional)..." rows="3"></textarea>

                <button class="btn-enviar-denuncia">Enviar</button>
            </section>

            <section class="mensagem-confirmacao" style="display: none;">
                <button class="fechar-msg" aria-label="Fechar">&times;</button>
                <h2>Sua ajuda é muito importante!</h2>
                <p>Iremos avaliar esse comentário.<br>Obrigado!</p>
            </section>
        </section>
        
        <footer class="footer-desktop">
            <section class="footer-container">

                <section class="footer-logo">
                    <a href="/"><img src="imagens/logo.png" alt="Logo" class="logo"></a>
                    <a href="/"><h3>NutriWeb</h3></a>
                </section>

              <section class="footer-informacao">
                <a href="/">Página Inicial</a>
                <a href="/ranking">Ranking</a>
                <a href="/profissionais">Profissionais</a>
                <a href="/premium">Premium</a>
                <a href="/login">Login</a>
                <a href="/">Sobre nós</a> 
                <a href="/tipoNutri">Como escolher o profissional ideal?</a>
              </section>
          
              <section class="footer-social">
                <p>Conecte-se com os melhores nutricionistas e encontre o profissional ideal para você.</p>
                <h3>Siga-nos</h3>
                    <section class="social-icons">
                    <a href="https://www.instagram.com/nutriweb_oficial/"><i class="fab fa-instagram"></i></a>
                    </section>
              </section>
            </section>
            
            <section class="footer-bottom">
              <p>&copy; 2024 NutriWeb. Todos os direitos reservados.</p>
            </section>
        </footer>
          
        
        <section class="home-mobile">

            <section class="menu">
                <section class="left-section">
                    <a href="/"><img src="imagens/logo.png" alt="Logo" class="logo"></a>
                </section>

                <section class="right-section">
                    <section class="material-icons search-icon md-24 menu-icon">menu</section>
                </section>
            </section>
            
            <section class="mobile-menu hidden">
                <ul>
                    <li><a href="/perfilcliente">Meu Perfil</a></li>
                    <li><a href="/ranking">Ranking</a></li>
                    <li><a href="/profissionais">Profissionais</a></li>
                    <li><a href="/premium">Premium</a></li>
                    <li><a href="/login">Entrar</a></li>
                </ul>
            </section>

            <section class="img-header-mobile">
        
                <section class="carousel">
                    <section class="carousel-item-mobile active">
                        <img src="imagens/banner1M.png" alt="Imagem 1">
                    </section>
                    <section class="carousel-item-mobile">
                        <img src="imagens/banner2M.png" alt="Imagem 2">
                    </section>
                    <section class="carousel-item-mobile">
                        <img src="imagens/banner3M.png" alt="Imagem 3">
                        <button id="btn-sabeMais-mobile" onclick="irPagina()" class="hidden">Clique aqui</button>
                    </section>
                    <section class="carousel-item-mobile">
                        <img src="imagens/banner4M.png" alt="Imagem 4">
                    </section>
                    <section class="carousel-item-mobile">
                        <img src="imagens/banner-agrobox-mobile.png" onclick="irAgroBox()" alt="Imagem 5">
                    </section>
    
                    <button class="carousel-control-prev-mobile">&lt;</button>
                    <button class="carousel-control-next-mobile">&gt;</button>
                </section>
                
            </section>

            <section class="nutricionista-mobile">
                <section class="nutricionista-mobile-header">
                  <section class="left-space-mobile"></section>
                  <h1>Nutricionistas qualificados</h1>
                  <form class="listafiltrarmobile hidden" action="">
                    <section class="conteudofiltrar">
                        <input type="checkbox" name="esportiva" id="esportiva-mobile">
                        <label for="esportiva-mobile">Nutrição Esportiva</label>
                    </section>
                    <section class="conteudofiltrar">
                        <input type="checkbox" name="estetica" id="estetica-mobile">
                        <label for="estetica-mobile">Nutrição Estética</label>
                    </section>
                    <section class="conteudofiltrar">
                        <input type="checkbox" name="clinica" id="clinica-mobile">
                        <label for="clinica-mobile">Nutrição Clínica</label>
                    </section>
                    <section class="conteudofiltrar">
                        <input type="checkbox" name="vegetariana" id="vegetariana-mobile">
                        <label for="vegetariana-mobile">Nutrição Vegetariana</label>
                    </section>
                    <section class="conteudofiltrar">
                        <input type="checkbox" name="maternoinfantil" id="maternoinfantil-mobile">
                        <label for="maternoinfantil-mobile">Nutrição Materno-Infantil</label>
                    </section>
                    <section class="conteudofiltrar">
                        <input type="checkbox" name="geriatrica" id="geriatrica-mobile">
                        <label for="geriatrica-mobile">Nutrição Geriátrica</label>
                    </section>
                    <section class="conteudofiltrar">
                        <input type="checkbox" name="preventiva" id="preventiva-mobile">
                        <label for="preventiva-mobile">Nutrição Preventiva</label>
                    </section>
                    <section class="conteudofiltrar">
                        <input type="checkbox" name="balanceada" id="balanceada-mobile">
                        <label for="balanceada-mobile">Nutrição Balanceada</label>
                    </section>
                    <section class="conteudofiltrar">
                        <input type="checkbox" name="funcional" id="funcional-mobile">
                        <label for="funcional-mobile">Nutrição Funcional</label>
                    </section>
                </form>
                  <button class="filter-button" id="filter-mobile">
                    Filtrar
                    <section class="material-icons md-24" id="filter-icon-mobile">tune</section>
                  </button>
                </section>
                <h2>Para te ajudar no seu propósito</h2>
              </section>

            <section class="cards-container-profissional">

                <a href="/perfilnutri?id=1">
                    <section class="card-nutri">
                            <img src="imagens/profissional1.png" alt="Profissional 1" class="card-image">
                            <section class="card-info">
                                <h3 class="card-name">Julia Barros</h3>
                                <p class="card-specialty">Nutrição Esportiva</p>
                                <section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section>
                            </section>
                    </section>
                </a>
    
                <a href="/perfilnutri?id=2">
                    <section class="card-nutri">
                            <img src="imagens/profissional2.png" alt="Profissional 2" class="card-image">
                            <section class="card-info">
                                <h3 class="card-name">Roberta Santos</h3>
                                <p class="card-specialty">Nutrição Clínica</p>
                                <section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section>
                            </section>
                    </section>
                </a>
    
                <a href="/perfilnutri?id=3">
                    <section class="card-nutri">
                            <img src="imagens/profissional3.png" alt="Profissional 3" class="card-image">
                            <section class="card-info">
                                <h3 class="card-name">Flávia Flins</h3>
                                <p class="card-specialty">Nutrição Estética</p>
                                <section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section>
                            </section>
                    </section>
                </a>
    
                <a href="/perfilnutri?id=4">
                    <section class="card-nutri">
                            <img src="imagens/profissional4.png" alt="Profissional 4" class="card-image">
                            <section class="card-info">
                                <h3 class="card-name">Pablo Parron</h3>
                                <p class="card-specialty">Nutrição Clínica</p>
                                <section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section>
                            </section>
                    </section>
                </a>
    
                <a href="/perfilnutri?id=5">
                    <section class="card-nutri">
                            <img src="imagens/profissional5.png" alt="Profissional 5" class="card-image">
                            <section class="card-info">
                                <h3 class="card-name">Sophia Silva</h3>
                                <p class="card-specialty">Nutrição Estética</p>
                                <section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section>
                            </section>
                    </section>
                </a>
    
                <a href="/perfilnutri?id=6">
                    <section class="card-nutri">
                            <img src="imagens/profissional6.png" alt="Profissional 6" class="card-image">
                            <section class="card-info">
                                <h3 class="card-name">Camila Ocanã</h3>
                                <p class="card-specialty">Nutrição Estética</p>
                                <section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section>
                            </section>
                    </section>
                </a>
    
                <a href="/perfilnutri?id=7">
                    <section class="card-nutri">
                            <img src="imagens/profissional7.png" alt="Profissional 7" class="card-image">
                            <section class="card-info">
                                <h3 class="card-name">Agatha Matos</h3>
                                <p class="card-specialty">Nutrição Estética</p>
                                <section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section>
                            </section>
                    </section>
                </a>
    
                <a href="/perfilnutri?id=8">
                    <section class="card-nutri">
                            <img src="imagens/profissional8.png" alt="Profissional 8" class="card-image">
                            <section class="card-info">
                                <h3 class="card-name">Roberto Carlos</h3>
                                <p class="card-specialty">Nutrição Esportiva</p>
                                <section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section>
                            </section>
                    </section>
                </a>
    
                <a href="/perfilnutri?id=9">
                    <section class="card-nutri">
                            <img src="imagens/profissional9.png" alt="Profissional 9" class="card-image">
                            <section class="card-info">
                                <h3 class="card-name">Mariana Alves</h3>
                                <p class="card-specialty">Nutrição Esportiva</p>
                                <section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section>
                            </section>
                    </section>
                </a>
    
                <a href="/perfilnutri?id=10">
                    <section class="card-nutri">
                            <img src="imagens/profissional10.png" alt="Profissional 10" class="card-image">
                            <section class="card-info">
                                <h3 class="card-name">Lucas Mendes</h3>
                                <p class="card-specialty">Nutrição Clínica</p>
                                <section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section>
                            </section>
                    </section>
                </a>
    
                <a href="/perfilnutri?id=11">
                    <section class="card-nutri">
                            <img src="imagens/profissional11.png" alt="Profissional 11" class="card-image">
                            <section class="card-info">
                                <h3 class="card-name">Carla Souza</h3>
                                <p class="card-specialty">Nutrição Clínica</p>
                                <section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section>
                            </section>
                    </section>
                </a>
    
                <a href="/perfilnutri?id=12">
                    <section class="card-nutri">
                            <img src="imagens/profissional12.png" alt="Profissional 12" class="card-image">
                            <section class="card-info">
                                <h3 class="card-name">Renata Dias</h3>
                                <p class="card-specialty">Nutrição Esportiva</p>
                                <section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section>
                            </section>
                    </section>
                </a>

                <a href="/perfilnutri?id=13">
                    <section class="card-nutri">
                            <img src="imagens/profissional13.png" alt="Profissional 13" class="card-image">
                            <section class="card-info">
                                <h3 class="card-name">Bruno Teixeira</h3>
                                <p class="card-specialty">Nutrição Vegetariana</p>
                                <section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section>
                            </section>
                    </section>
                </a>

                <a href="/perfilnutri?id=14">
                    <section class="card-nutri">
                            <img src="imagens/profissional14.png" alt="Profissional 14" class="card-image">
                            <section class="card-info">
                                <h3 class="card-name">Larissa Lobato</h3>
                                <p class="card-specialty">Nutrição Vegetariana</p>
                                <section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section>
                            </section>
                    </section>
                </a>

                <a href="/perfilnutri?id=15">
                    <section class="card-nutri">
                            <img src="imagens/profissional15.png" alt="Profissional 15" class="card-image">
                            <section class="card-info">
                                <h3 class="card-name">Daniela Castro</h3>
                                <p class="card-specialty">Nutrição Vegetariana</p>
                                <section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section>
                            </section>
                    </section>
                </a>

                <a href="/perfilnutri?id=16">
                    <section class="card-nutri">
                            <img src="imagens/profissional16.png" alt="Profissional 16" class="card-image">
                            <section class="card-info">
                                <h3 class="card-name">Henrique Lopes</h3>
                                <p class="card-specialty">Nutrição Vegetariana</p>
                                <section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section>
                            </section>
                    </section>
                </a>

                <a href="/perfilnutri?id=17">
                    <section class="card-nutri">
                            <img src="imagens/profissional17.png" alt="Profissional 17" class="card-image">
                            <section class="card-info">
                                <h3 class="card-name">Mirella Cunha</h3>
                                <p class="card-specialty">Nutrição Materno-Infantil</p>
                                <section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section>
                            </section>
                    </section>
                </a>

                <a href="/perfilnutri?id=18">
                    <section class="card-nutri">
                            <img src="imagens/profissional18.png" alt="Profissional 18" class="card-image">
                            <section class="card-info">
                                <h3 class="card-name">Gustavo Ribeiro</h3>
                                <p class="card-specialty">Nutrição Geriátrica</p>
                                <section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section>
                            </section>
                    </section>
                </a>

                <a href="/perfilnutri?id=19">
                    <section class="card-nutri">
                            <img src="imagens/profissional19.png" alt="Profissional 19" class="card-image">
                            <section class="card-info">
                                <h3 class="card-name">Tatiane Moura</h3>
                                <p class="card-specialty">Nutrição Preventiva</p>
                                <section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section>
                            </section>
                    </section>
                </a>

                <a href="/perfilnutri?id=20">
                    <section class="card-nutri">
                            <img src="imagens/profissional20.png" alt="Profissional 20" class="card-image">
                            <section class="card-info">
                                <h3 class="card-name">Eduardo Lima</h3>
                                <p class="card-specialty">Nutrição Balanceada</p>
                                <section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section>
                            </section>
                    </section>
                </a>

                <a href="/perfilnutri?id=21">
                    <section class="card-nutri">
                            <img src="imagens/profissional21.png" alt="Profissional 21" class="card-image">
                            <section class="card-info">
                                <h3 class="card-name">Amanda Torres</h3>
                                <p class="card-specialty">Nutrição Funcional</p>
                                <section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section>
                            </section>
                    </section>
                </a>

                <a href="/perfilnutri?id=22">
                    <section class="card-nutri">
                            <img src="imagens/profissional22.png" alt="Profissional 22" class="card-image">
                            <section class="card-info">
                                <h3 class="card-name">Fernando Lins</h3>
                                <p class="card-specialty">Nutrição Preventiva</p>
                                <section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section>
                            </section>
                    </section>
                </a>

                <a href="/perfilnutri?id=23">
                    <section class="card-nutri">
                            <img src="imagens/profissional23.png" alt="Profissional 23" class="card-image">
                            <section class="card-info">
                                <h3 class="card-name">Isabela Martins</h3>
                                <p class="card-specialty">Nutrição Materno-Infantil</p>
                                <section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section><section class="material-icons avaliacao_nutri">star</section>
                            </section>
                    </section>
                </a>
            </section>    

            <section class="titulos-publicacao-mobile">
                <h1>Veja as publicações</h1>
                <h2>Fique ligado nas dicas dos nutricionista</h2>
            </section>

            <section class="cards-container-mobile">
                <section class="cards-wrapper">
                    <section class="card"
                        data-id="1"
                        data-nome="Julia"
                        data-profissao="Nutricionista"
                        data-imgperfil="imagens/profissional1.png"
                        data-imgconteudo="imagens/img-post-kiwi.jpg"
                        data-titulo="BENEFÍCIOS DO KIWI PARA A SAÚDE"
                        data-conteudo1="O kiwi é uma excelente fonte de vitamina C, contribuindo para a imunidade e a saúde da pele."
                        data-subtitulo1="SAÚDE EM DIA"
                        data-conteudo2="Contém fibras que auxiliam no funcionamento do intestino e no controle do colesterol."
                        data-subtitulo2="DIGESTÃO REGULADA"
                        data-conteudo3="Ideal para lanches saudáveis, o kiwi ainda tem ação antioxidante e anti-inflamatória.">

                        <a href="/perfilnutri?id=1" class="card-perfil">
                            <section class="card-header">
                                <img src="imagens/profissional1.png" alt="Profile">
                                <section>
                                    <section class="name">Julia</section>
                                    <section class="profession">Nutricionista</section>
                                </section>
                            </section>
                        </a>
                        <img src="imagens/img-post-kiwi.jpg" alt="Content" class="content-img">
                        <section class="caption">Legenda...</section>
                    </section>
                    
                    <section class="card"
                        data-id="2"
                        data-nome="Roberta"
                        data-profissao="Nutricionista"
                        data-imgperfil="imagens/profissional2.png"
                        data-imgconteudo="imagens/img-post-whey.jpg"
                        data-titulo="O USO DO WHEY NA ALIMENTAÇÃO"
                        data-conteudo1="O whey protein é uma proteína de alto valor biológico, ideal para recuperação muscular."
                        data-subtitulo1="SUPLEMENTAÇÃO EFICIENTE"
                        data-conteudo2="Pode ser utilizado por praticantes de atividade física e também como complemento proteico na rotina alimentar."
                        data-subtitulo2="VERSATILIDADE"
                        data-conteudo3="Consulte um nutricionista para orientações sobre a dose adequada às suas necessidades.">

                        <a href="/perfilnutri?id=2" class="card-perfil">
                            <section class="card-header">
                                <img src="imagens/profissional2.png" alt="Profile">
                                <section>
                                    <section class="name">Roberta</section>
                                    <section class="profession">Nutricionista</section>
                                </section>
                            </section>
                        </a>
                        <img src="imagens/img-post-whey.jpg" alt="Content" class="content-img">
                        <section class="caption">Legenda...</section>
                    </section>
    
                    <section class="card"
                        data-id="3"
                        data-nome="Flávia"
                        data-profissao="Nutricionista"
                        data-imgperfil="imagens/profissional3.png"
                        data-imgconteudo="imagens/img-post-frutas.jfif"
                        data-titulo="A IMPORTÂNCIA DAS FRUTAS NA ALIMENTAÇÃO"
                        data-conteudo1="Frutas fornecem vitaminas, minerais e fibras essenciais para o funcionamento do organismo."
                        data-subtitulo1="VITALIDADE NATURAL"
                        data-conteudo2="Consumir uma variedade de frutas diariamente ajuda na prevenção de doenças crônicas."
                        data-subtitulo2="VARIEDADE É FUNDAMENTAL"
                        data-conteudo3="Opte sempre por frutas da estação para garantir frescor, sabor e melhor custo-benefício.">

                        <a href="/perfilnutri?id=3" class="card-perfil">
                            <section class="card-header">
                                <img src="imagens/profissional3.png" alt="Profile">
                                <section>
                                    <section class="name">Flávia</section>
                                    <section class="profession">Nutricionista</section>
                                </section>
                            </section>
                        </a>
                        <img src="imagens/img-post-frutas.jfif" alt="Content" class="content-img">
                        <section class="caption">Legenda...</section>
                    </section>
    
                    <section class="card"
                        data-id="4"
                        data-nome="Pablo"
                        data-profissao="Nutricionista"
                        data-imgperfil="imagens/profissional4.png"
                        data-imgconteudo="imagens/img-post-kiwi.jpg"
                        data-titulo="O PODER DO KIWI NA NUTRIÇÃO"
                        data-conteudo1="Fruta rica em nutrientes e sabor, o kiwi pode fazer parte de diversas refeições."
                        data-subtitulo1="REFRESCANTE E NUTRITIVO"
                        data-conteudo2="Seus antioxidantes contribuem para a prevenção de inflamações e o equilíbrio do corpo."
                        data-subtitulo2="IMUNIDADE FORTALECIDA"
                        data-conteudo3="Incluir frutas como o kiwi é uma forma simples de melhorar a saúde diariamente.">

                        <a href="/perfilnutri?id=4" class="card-perfil">
                            <section class="card-header">
                                <img src="imagens/profissional4.png" alt="Profile">
                                <section>
                                    <section class="name">Pablo</section>
                                    <section class="profession">Nutricionista</section>
                                </section>
                            </section>
                        </a>
                        <img src="imagens/img-post-kiwi.jpg" alt="Content" class="content-img">
                        <section class="caption">Legenda...</section>
                    </section>
                </section>

                <section class="banner-card-meio">
                    <a href="/tiponutri"><img src="imagens/banner3.png" alt="BannerPatrocinio"/></a>
                </section>

                <button class="btn-verMais">
                    Ver mais
                    <svg class="seta-svg" width="25" height="25" viewBox="0 0 24 24" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 10l5 5 5-5" stroke="green" stroke-width="3.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
            </section>
            <footer class="footer">
                <section class="footer-container">
    
                    <section class="footer-logo">
                        <a href="/"><img src="imagens/logo.png" class="img-footer" alt="Logo" class="logo"></a>
                        <a href="/"><h3>NutriWeb</h3></a>
                    </section>
    
                    <section class="footer-informacao">
                        <a href="/">Página Inicial</a>
                        <a href="/ranking">Ranking</a>
                        <a href="/profissionais">Profissionais</a>
                        <a href="/premium">Premium</a>
                        <a href="/login">Login</a>
                        <a href="/">Sobre nós</a> 
                        <a href="/tipoNutri">Como escolher o profissional ideal?</a>
                    </section>
              
                  <section class="footer-social">
                    <h3>Siga-nos</h3>
                    <section class="social-icons">
                      <a href="https://www.instagram.com/nutriweb_oficial/"><i class="fab fa-instagram"></i></a>
                    </section>
                    <p>Conecte-se com os melhores nutricionistas e encontre o profissional ideal para você.</p>
                  </section>
                </section>
                
                <section class="footer-bottom">
                  <p>&copy; 2024 NutriWeb. Todos os direitos reservados.</p>
                </section>
            </footer>
        </section>
        
    </body>
    <script src="js/indexMenu.js"></script>
    <script>
        const headerUsuario = JSON.parse('<%- JSON.stringify(headerUsuario || { estaLogado: false }) %>');
    </script>
    <script src="js/comentarios.js"></script>
    <!-- <script src="js/verMais.js"></script> -->
    <script src="js/carrossel.js"></script>
    <script src="js/carrosselperfis.js"></script>
    <script src="js/filtro.js"></script>
    <script src="js/denuncia.js"></script>
    <script src="js/modalHome.js"></script>
    <script src="js/alerts.js"></script>
</html>