<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="imagens/logo-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/styleCadastrarCliente.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Cadastro nutricionista - NutriWeb</title>
</head>
    <body>
        <% 
        let erroValidacao = {"nome" : "", "email" : "", "senha" : ""};
        let msgErro = {"nome" : "", "email" : "", "senha" : ""};
        if(listaErros) {
            listaErros.errors.forEach( function(erro) {
                if (erro.path == "nome") {
                    erroValidacao.nome = "erro-form",
                    msgErro.nome = erro.msg
                }
                if (erro.path == "email") {
                    erroValidacao.email = "erro-form",
                    msgErro.email = erro.msg
                }
                if (erro.path == "senha") {
                    erroValidacao.senha = "erro-form",
                    msgErro.senha = erro.msg
                }
            });
        } 
        %>

        <header class="header">
            
            <section class="left-section">
                <a href="/"><img src="imagens/logo.png" alt="Logo" class="logo"></a>
        
                <a href="/ranking" class="ranking">
                    <section class="btn-ranking">
                        <img src="imagens/icone-ranking.png" alt="Ranking Icon" class="icon-rank">
                        <button class="ranking-button">Ranking</button>
                    </section>
                </a>

                <a href="/profissionais"><button class="profissionais-button">Profissionais</button></a>
            </section>

            <section class="center-section">
                <section class="input-premium">
                    <span class="material-icons search-icon md-24">search</span>
                    <input>
                </section>
            </section>
            
            <section class="right-section">
                <a href="/perfilcliente"><button class="meuperfil-button">Meu Perfil</button></a>
                <a href="/premium"><button class="premium-button">Premium</button></a>
                <a href="/login"><button class="entrar-button">Entrar</button></a>
            </section>
            
        </header>

        <section class="header-content">
            <a href="/cadastro" class="back-button">
                <span class="material-icons arrow-icon md-24">arrow_back_ios</span>
                <span class="back-arrow">Voltar</span>
            </a>
        </section>

        <section class="container">
            <section class="card">
                <section class="conteudo-form">
                    <span class="notification"><%= msgErro.nome %></span>
                    <span class="notification2"><%= msgErro.email %></span>
                    <span class="notification3"><%= msgErro.senha %></span>
                    <form action="/cadastrarcliente" method="post" class="cadastro-form">
                        <h2>Cadastre-se e comece sua jornada</h2>
                        <section class="campo-form">
                            <label for="nome">Nome completo:</label>
                            <input type="text" id="nome" name="nome" value="<%= valores.nome %>" class="<%= erroValidacao.nome %>" placeholder="Digite seu nome completo">
                        </section>
                        <section class="campo-form">
                            <label for="email">E-mail:</label>
                            <input type="text" id="email" name="email" value="<%= valores.email %>" class="<%= erroValidacao.email %>" placeholder="Digite seu e-mail">
                        </section>
                        <section class="campo-form">
                            <label for="senha">Crie uma senha:</label>
                            <input type="password" id="senha" name="senha" value="<%= valores.senha %>" class="<%= erroValidacao.senha %>" placeholder="Crie uma senha">
                        </section>
                        <section class="campo-form">
                            <label for="objetivo">Objetivo(opcional)</label>
                            <input type="text" id="objetivo" name="objetivo" placeholder="Digite seu objetivo pessoal com o uso do site">
                        </section>
                        <input type="submit" class="btn-cadastrar" value="Cadastrar">
                    </form>
                </section>
            </section>

            <section class="imagem-container">
                <a href="/"><img src="imagens/logo.png" alt="Imagem" class="imagem-fullwidth"></a>
            </section>
        </section>

        <section class="mobile">

            <section class="menu">
                <section class="left-section">
                    <a href="/"><img src="imagens/logo.png" alt="Logo" class="logo"></a>
                </section>

                <section class="right-section">
                    <span class="material-icons search-icon md-24 menu-icon">menu</span>
                </section>
            </section>

            <section class="mobile-menu hidden">
                <ul>
                    <li><a href="/login">Entrar</a></li>
                    <li><a href="/ranking">Ranking</a></li>
                    <li><a href="/profissionais">Profissionais</a></li>
                    <li><a href="/premium">Premium</a></li>
                </ul>
            </section>

        </section>

        <footer>
            <section class="footer-container">

                <section class="footer-logo">
                    <a href="/"><img src="imagens/logo.png" alt="Logo" class="logo"></a>
                </section>

              <section class="footer-informacao">
                <h3>Sobre o NutriWeb</h3>
                <p>Conecte-se com os melhores nutricionistas e encontre o profissional ideal para você.</p>
              </section>
          
              <section class="footer-social">
                <h3>Siga-nos</h3>
                <section class="social-icons">
                  <a href="https://www.instagram.com/nutriweb_oficial/"><i class="fab fa-instagram"></i></a>
                </section>
              </section>
            </section>
            
            <section class="footer-bottom">
              <p>&copy; 2024 NutriWeb. Todos os direitos reservados.</p>
            </section>
        </footer>
    </body>
    <script src="js/indexMenu.js"></script>
</html>
